<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Flask Demo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href={{ url_for('static', filename='style.css') }} />
</head>

<body>
  <table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
    {% for i in users %}  
    <tr>
      <td>{{i['first_name']}}</td>
      <td>{{i['last_name']}}</td>
    </tr>
    {% endfor %}  
</body>

</html>